/* Reset and Presets */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: $line-height;
  font-size: $font-size--text;
  font-family: $font--primary;
  color: $color--text;
  background-color: $color--gray-light;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color .2s;
}

ol,
ul {
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

table {
  width: 100%;
}

.app-wrapper {
  position: relative;
  height: 100vh;;
}

.main-content {
  width: 100%;
  max-width: $desktop;
  margin: 0 auto;
  overflow-y: auto;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 76vh;
  color: $color--text-secondary;
}